<h3 style="padding-left:7%;">Evaluar Curso</h3>
<ul>
  <li *ngFor="let pregunta of preguntas" style="height:20px">
    <div style="display:flex; white-space:nowrap; ">
      <span style="flex:90%;">{{pregunta}}</span>
     <mat-radio-group style="width: 70%;align-self:stretch;text-align:right" labelPosition="before">
       <mat-radio-button value="1">1</mat-radio-button>
       <mat-radio-button value="2">2</mat-radio-button>
       <mat-radio-button value="3">3</mat-radio-button>
       <mat-radio-button value="4">4</mat-radio-button>
       <mat-radio-button value="5">5</mat-radio-button>
     </mat-radio-group>
    </div>
    <mat-divider style="height:2px"></mat-divider>
  </li>
  <mat-divider></mat-divider>
</ul>
<div style="text-align:center">
<button mat-raised-button>Enviar</button>
</div>
