<div class="principal">

  <!--Progress-->
  <div class="bar-container">
      <span class="myspan">Estudiante > Evaluar > Formulario de evaluación </span>
    </div>
    <!--FIN progress-->
  
    <div style="height:2%">
      <span></span>
    </div>
  
    <div class="title">
      <h4 class="title-text">Formulario de evaluación</h4>
    </div>

    <div style="height:2%">
        <span></span>
      </div>

  <mat-card >
    <div *ngIf="pDone && cDone" style="margin-bottom: 10px">
      <table style="width:100%;padding-bottom:3%">
        <thead>
          <tr>
            <th style="width:60%">Pregunta</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody style="padding:0px; margin:0px" *ngFor="let pregunta of preguntas; let i = index">
              <tr >
                  <th *ngIf="pregunta.textoSeccion" style="padding:0.5" colspan="6">{{pregunta.textoSeccion}}</th>
                </tr>
                <tr>
                  <td>{{pregunta.pregunta}}</td>
                  <!-- <td>
                      <mat-radio-group name="{{pregunta.numero}}">
                          <mat-radio-button *ngFor="let opcion of seleccionadas[i]['opciones'][0]" [value]="opcion.opcion" >
                            {{opcion.texto}}
                          </mat-radio-button>
                      </mat-radio-group>
                  </td> -->
                  <td *ngFor="let opcion of seleccionadas[i]['opciones'][0]">
                      <label class="radioContainer">
                        <span style="padding-right: 5px; text-align: end">{{opcion.texto}}</span>
                        <input type="radio" name="{{opcion.numero}}" value="{{opcion.texto}}" (change)="seleccionada(pregunta, opcion.opcion)">
                        <span class="circle"></span>
                      </label>
                  </td>
        
                </tr>
        </tbody>
      </table>
    </div>
    <div style="display:block;width:100%;">
      <button *ngIf="!loading" mat-raised-button class="evaluar" (click)="evaluar()" type="button" name="button">Evaluar</button>
      <button *ngIf="!loading" mat-raised-button class="cancelar" (click)="cancelar()" type="button" name="button">Cancelar</button>
      <span *ngIf="loading && !mensaje" style="right: 0px; float:right;">Enviando respuestas, espere un momento por favor</span>
      <button *ngIf="mensaje" mat-raised-button class="cancelar" (click)="cancelar()" type="button" name="button">Volver</button>
    </div>

  </mat-card>

  <div style="height:2%">
    <span></span>
  </div>

</div>