/*STEPPER*/
.bar-container{
  width: 80%;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  display:flex;
  position: relative;
  background-color: white;
  flex-wrap: wrap;
  padding:0px;
}

.myspan{
  color:#6c9a06;
}

.progressbar{
  margin:0px;
  display: flex;
  float:left;
  list-style-type: none;
  width: 100%;
  padding:0px;
  overflow: hidden;
}

.progress{
  flex:1;
  color:gray;
  text-align: center;
  overflow-x: visible;

  background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s ease-in;
}

.progress2{
  flex:1;
  text-align: center;
  overflow-x: visible;
  background-color: #6c9a06;
  color:white;
  cursor:pointer;
    background-size: 200% 100%;
    transition: all 1s ease-in;

    background-position: 0 0;
}

.mymarg{
  margin:2px;
}
/*FIN STEPPER*/

/* Flotante */
.float{
  cursor: pointer;
  transition: .3s ease-out;
	position:fixed;
	bottom:6.5%;
	right:4%;
	background-color:#6c9a06;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

[commit]{
  background-color: #0c4022;
  color: white;
  margin: 0px 0px 0px 20px;
}


.mat-expanded{
  border: 1px solid #6c9a06;
}

::ng-deep .mat-expansion-panel-header[aria-expanded=true]{
  border: none;
}

::ng-deep .mat-expansion-panel-content .ng-trigger .ng-trigger-bodyExpansion{
  border: none;
}

[graph-button]{
  position: absolute;
  float: right;
  right: 1%;
  background-color: #6c9a06;
  color: white;
}

.asig {
  cursor: pointer;
}


/* RADIOS */
.radioContainer{
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr;
  position: relative;
  cursor:pointer;
  user-select: none;
  width: 100%;
  height: 100%;
  align-items: center;
  align-content: center;
text-align: center;
vertical-align: sub;
}

.radioContainer input{
  display:none;
}

.radioContainer .circle{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: gray;
  position:relative;
  border-radius: 50%;
  transition: 1s ease;
}

.radioContainer:hover .circle{
  background-color: #6c9a06;
}

.radioContainer input:checked + .circle{
  background-color: #0A351C;
}

.radioContainer input:checked + .circle:after{
  content: "";
  height: 9px;
  width: 9px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  transition: 1s ease;
}

.radioContainer .circle{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: gray;
  position:relative;
  border-radius: 50%;
  transition: 1s ease;
}

.radioContainer:hover .circle{
  background-color: #6c9a06;
}

.radioContainer input:checked + .circle{
  background-color: #0A351C;
}

.radioContainer input:checked + .circle:after{
  content: "";
  height: 9px;
  width: 9px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  transition: 1s ease;
}


/* TABLE */
th {
  text-align: center;
}

/* BUTTONS */
.evaluar{
  background-color: #6c9a06;
  border-color: white;
  position:relative;
  right: 0px;
  float:right;

}

.cancelar{
  border-color: white;
  position:relative;
  right:0px;
  float:right;
}

