
	<div class="principal">

  <!--Progress-->
  <div class="bar-container">
    <span class="myspan">Estudiante > Evaluar </span>
  </div>
  <!--FIN progress-->

  <div style="height:2%">
    <span></span>
	</div>

  <div class="title">
    <h4 class="title-text">Evaluar cursos</h4>
	</div>

	<div class="filters" style="display:flex; flex-wrap:wrap">
		<mat-form-field>
			<input style="width:auto" type="text" matInput [ngModel]="facultadnombre" (ngModelChange)="changeFacultad($event)"
			[matAutocomplete]="autoFacultad" placeholder="Facultad">
		</mat-form-field>
		<!--Autocomplete-->
		<mat-autocomplete #autoFacultad="matAutocomplete" showPanel="{{true}}">
			<mat-option *ngFor="let facultad of filterFacultades" [value]="facultad.nombre">
			{{ facultad.nombre }}
			</mat-option>
		</mat-autocomplete>
		<mat-form-field>
			<input style="width:auto" type="text" matInput [ngModel]="programanombre" (ngModelChange)="change($event)"
			[matAutocomplete]="auto" placeholder="Programa">
		</mat-form-field>
		<!--Autocomplete-->
		<mat-autocomplete #auto="matAutocomplete" showPanel="{{true}}">
			<mat-option *ngFor="let programa of filterProgramas" [value]="programa.nombrePrograma">
			{{ programa.nombrePrograma }}
			</mat-option>
		</mat-autocomplete>
		<mat-form-field class="example-full-width">
			<input [maxlength]="8" (keypress)="numberOnly($event)"
			matInput placeholder="Materia codigo" [(ngModel)]="materia">
		</mat-form-field>
		<mat-form-field class="example-full-width">
			<input [maxlength]="11" (keypress)="numberOnly($event)"
			matInput placeholder="Cedula docente" [(ngModel)]="docente">
		</mat-form-field>
		<button mat-button (click)="filtrar()">Filtrar</button>
		<button mat-button (click)="limpiar()">Limpiar</button>
	</div>
	
	<mat-list role="list">
		<div *ngFor="let asignacion of arrayAsignaciones">
			<mat-list-item role="listitem" class="asig" (click)="redireccionar(asignacion)">
				<span style="white-space: wrap;">[ ({{asignacion.materia}}) {{asignacion.nombreMateria}} - {{asignacion.grupo}} -
				{{asignacion.nombreDocente}}]
			</span>
		</mat-list-item>
			<mat-divider></mat-divider>
		</div>
	</mat-list>
	<mat-paginator style="margin-right:10%" id="paginator" [length]="total" [pageSize]="(pageEvent)?pageEvent.pageSize:5"
		 [pageSizeOptions]="[5, 10, 20, 50, 100]" [pageIndex]="(pageEvent)?pageEvent.pageIndex:0" (page)="pageEvent = $event; siguiente()">
	</mat-paginator>

  <div style="height:2%">
    <span></span>
  </div>
</div>