<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet-mapping>
        <servlet-name>myServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
        <url-pattern>/#/*</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>myServlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>co.edu.udea.evdo</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <resource-ref>
        <description>DataSource Reference</description>
        <res-ref-name>consultaevaluaDocen</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    
    <filter>
        <filter-name>SSOFilter</filter-name>
        <filter-class>co.edu.udea.oid.security.filter.SSOFilter</filter-class>
        <init-param>
                <param-name>aplicacion</param-name>
                <param-value>POSGRADOS</param-value>
        </init-param>
        <init-param>
            <param-name>exclude-resources</param-name>
            <param-value>status.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>usersource</param-name>
            <param-value>cookie</param-value>
        </init-param>
        <init-param>
            <param-name>tipoconexion</param-name>
            <param-value>desarrollo</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SSOFilter</filter-name>
        <url-pattern>/services/*</url-pattern>
    </filter-mapping>
   
</web-app>
